package templates

import "strings"

templ Page(title ...string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<title>
				if len(title) == 0 {
					Hello World
				} else {
					{ strings.Join(title[:], "") }
				}
			</title>
		</head>
		<body>
			{ children... }
		</body>
	</html>
}
