package templates

import "strings"

templ Page(page_title ...string) {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			@title(page_title)
		</head>
		<body>
			{ children... }
		</body>
	</html>
}

// The naming here isn't great. I need to figure out
// a nicer pattern for 'default args'. This will do for now.
templ title(page_title []string) {
	<title>
		if len(page_title) == 0 {
			Hello World
		} else {
			{ strings.Join(page_title[:], "") }
		}
	</title>
}
