package templates

import "github.com/neeerp/templ-blog/handlers"

templ TodoList() {
	@Page("TODO") {
		<h1>Welcome to my TODO List!</h1>
		<div id="todos">
			for _, note := range handlers.Get() {
				@todo(note)
			}
		</div>
	}
}

templ todo(todo_note handlers.Todo) {
	<div>
		<h3>{ todo_note.Title }</h3>
	</div>
}
